<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/bootstrap-slider.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/css/bootstrap-slider.css">
<!-- end sliderstyles -->
<div class="container">
    <div class="d-flex justify-content-between">
        <h4>Location</h4>
        <h4>Basic</h4>
        <h4>Health</h4>
        <h4>Coverage</h4>
        <h4>Quotes</h4>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <!-- end progress -->
    <div class="row pt-5">
        <div class="col-md-6 pb-3">
            <div class="d-flex flex-column h-100 align-items-stretch p-2 white">
                <h3>Coverage Amounts</h3>
                <div class="d-flex flex-row">
                    <div>
                    <h1 id="ex6CurrentSliderValLabel">$</h1></div>
                    <div>
                    <h1 id="ex6SliderVal">250000</h1></div>
                </div>
                <input id="ex6" type="text" data-slider-min="250000" data-slider-max="1000000" data-slider-step="100000" data-slider-value="250000" />
            </div>
        </div>
        <div class="col-md-6 pb-3">
            <div class="d-flex flex-column h-100 align-items-stretch p-2 white">
                <h3>Policy Length</h3>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="term" id="blankRadio1" value="15" aria-label="test1">
                        </div>
                        <p>Protection for </p>
                        <h2>15 Years</h2>
                        <p>policies starting at</p>
                        <h2>$19/mo</h2>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="term" id="blankRadio2" value="25" aria-label="test2">
                        </div>
                        <p>Protection for </p>
                        <h2>25 Years</h2>
                        <p>policies starting at</p>
                        <h2>$55/mo</h2>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="term" id="blankRadio3" value="30" aria-label="test3">
                        </div>
                        <p>Protection for </p>
                        <h2>30 Years</h2>
                        <p>policies starting at</p>
                        <h2>$66/mo</h2>
                    </div>
                </div>
                <!--    end of form  -->
            </div>
        </div>
    </div>
    <div class="text-center pt-3">
        <span class="font-weight-bold">Your policy would protect your loved ones with a tax free, lump sum of $</span>
        <span id="policy_data_coverage" class="font-weight-bold"></span><span class="font-weight-bold">&nbsp;for a term of&nbsp;</span><span id="policy_data_term" class="font-weight-bold"></span><span class="font-weight-bold">&nbsp;years.</span>
    </div>
    <%= simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
    <%= f.error_notification %>
    <%= hidden_field_tag :current_step, 'step3' %>
    <%= f.input :coverage,  class: "d-none" %>
    <%= f.input :term %>
    <%= f.submit 'Finish', class: "btn btn-primary" %>
    <% end %>
</div>
<script type="text/javascript">
$.fn.digits = function(){ 
    return this.each(function(){ 
        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
    })
}
// With JQuery
$("#ex6").slider();
$("#ex6").on("slide", function(slideEvt) {
    $("#ex6SliderVal").text(slideEvt.value).digits();
    $("#policy_data_coverage").text(slideEvt.value).digits();
    $("#user_wizard_coverage").val(slideEvt.value);
});


$(".form-check-input").click(function(){
    var radioValue = $("input[name='term']:checked").val();
            if(radioValue){
                console.log(radioValue);
                $("#user_wizard_term").val(radioValue);
                $("#policy_data_term").text(radioValue);
            }
});

</script>

